
    <section id="hotel" class="content-section text-center">
        <div class="hotel-section">

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">ที่พัก และ โรงแรม
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/nakhon-sri-thammarat/v1.2/img/h1.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>บ้านสุพรรณิการ์ บูติค โฮเต็ล </h3>
                <h4>(Baan Supannikar Boutique Hotel) </h4>
                <p>หากคุณกำลังมองหาโรงแรมที่เดินทางไปได้ง่ายใน นครศรีธรรมราช ไม่ต้องมองหาที่อื่นนอกจาก บ้านสุพรรณิการ์ บูติค โฮเต็ล โรงแรมนี้อยู่ไม่ไกลจากใจกลางเมืองเพียง 1 km โดยปกติแล้วสามารถเดินทางไปสนามบินได้ภายในเวลาประมาณ 20 นาที คุณสามารถเดินทางไปยังสถานที่ที่ต้องไปชมให้ได้ของเมืองได้อย่างง่ายดาย</p>
                <a class="btn btn-primary" href="#">ดูต่อ คลิ๊ก <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/nakhon-sri-thammarat/v1.2/img/h2.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>ประสานสุข วิลลา บีช รีสอร์ท</h3>
                <h4>(Prasarnsook Villa Beach Resort) </h4>
                <p>ประสานสุข วิลลา บีช รีสอร์ท ตั้งอยู่ในใจกลางของ สิชล และเป็นจุดที่ยอดเยี่ยมในการเที่ยวชม นครศรีธรรมราช จากที่นี้ ผู้เข้าพักสามารถไปยังทุกที่ในเมืองอันมีชีวิตชีวานี้ได้อย่างง่ายดาย โรงแรมสไตล์โมเดิร์นแห่งนี้ตั้งอยูใกล้กับสถานที่ท่องเที่ยวที่ได้รับความนิยมของเมืองหลายแห่ง เช่น หาดสิชล
                </p>
                <a class="btn btn-primary" href="#">ดูต่อ คลิ๊ก<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/nakhon-sri-thammarat/v1.2/img/h3.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>โรงแรมสิชล คาบาน่า</h3>
                <h4>(Sichon Cabana Hotel)</h4>
                <p>โรงแรมสิชล คาบาน่าตั้งอยู่ที่สิชล ในนครศรีธรรมราช เหมาะจะเป็นสถานที่พักสำหรับผู้ที่แสวงหาความผ่อนคลายและความบันเทิง จากที่นี้ ผู้เข้าพักสามารถไปยังทุกที่ในเมืองอันมีชีวิตชีวานี้ได้อย่างง่ายดาย สำหรับผู้ที่ต้องการท่องเที่ยวผจญภัย หาดสิชล เป็นเพียงตัวอย่างของสถานที่ท่องเที่ยวอีกมากมายที่เปิดให้นักท่องเที่ยวเข้าชม
                </p>
                <a class="btn btn-primary" href="#">ดูต่อ คลิ๊ก<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>





</html>

                </div>
            </div>
        </div>
    </section>