    
    <section id="festival" class="container content-section text-center">


        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">เทศกาล ประเพณี</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="/nakhon-sri-thammarat/v1-2/img/e2.jpg" alt="">
                <h3><a href="#">กีฬา วัวชน</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="/nakhon-sri-thammarat/v1-2/img/e1.jpg" alt="">
                <h3><a href="#">ประเพณีชักพระ</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="/nakhon-sri-thammarat/v1-2/img/e3.jpg" alt="">
                <h3><a href="#">ประเพณีสวดด้าน</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="/nakhon-sri-thammarat/v1-2/img/e4.jpg" alt="">
                <h3><a href="#">สารทเดือนสิบ</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="/nakhon-sri-thammarat/v1-2/img/e5.jpg" alt="">
                <h3><a href="#">ประเพณีแห่ผ้าขึ้นธาตุ</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="/nakhon-sri-thammarat/v1-2/img/e6.jpg" alt="">
                <h3><a href="#">ประเพณีให้ทานไฟ</a>
            </div>
        </div>

        <hr>


    </div>

</body>
                </ul>
            </div>
        </div>
    </section>