
    <section id="place" class="content-section text-center">
        <div class="place-section">
            <div class="container">
                <div class="col-lg-12 col-lg-offset-0">
                    <h2>สถานที่ท่องเที่ยว</h2>
                    <head>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/nakhon-sri-thammarat/v1-2/img/w3.jpg" alt="">
                </a>
                <h3>
                    <a href="#">ทะเล</a>
                </h3>
                <p>หาดทรายและสายลม</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/nakhon-sri-thammarat/v1-2/img/w4.jpg" alt="">
                </a>
                <h3>
                    <a href="#">ภูเขา</a>
                </h3>
                <p>สำหรับสายลุย</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/nakhon-sri-thammarat/v1-2/img/w2.jpg" alt="">
                </a>
                <h3>
                    <a href="#">หมู่บ้าน</a>
                </h3>
                <p>สัมพัสบรรยากาศ</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/nakhon-sri-thammarat/v1-2/img/w1.jpg" alt="">
                </a>
                <h3>
                    <a href="#">วัด โบราณสถาน</a>
                </h3>
                <p>ศึกษา อารยธรรม</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/nakhon-sri-thammarat/v1-2/img/w6.jpg" alt="">
                </a>
                <h3>
                    <a href="#">ตัวเมือง</a>
                </h3>
                <p>เดินชิวๆพบปะผู้คน</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="/nakhon-sri-thammarat/v1-2/img/w5.jpg" alt="">
                </a>
                <h3>
                    <a href="#">น้ำตก</a>
                </h3>
                <p>ชื่นช่ำไปกับสายน้ำ</p>
            </div>
        </div>
    </div>

</body>

</html>

                </div>
            </div>
        </div>
    </section>